<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <p>Portfolio is available at: <a href="https://github.com/edebourg/">https://github.com/edebourg/</a></p>

    {{> footer}}
  </body>
</html>
